.content {
  text-align: center;
}

.loot {
  font-size: 22px;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  flex-direction: row;
}

hr {
  margin: 30px 0px;
}

.box {
  width: 380px;
  height: 155px;
  float: left;
  cursor: pointer;
  transition: color, border 0.3s;
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}

.box.active {
  color: #7289DA;
  border: 1px solid #7289DA;
}

.box-header {
  font-weight: bold;
  font-size: 22px;
}

.box-piss {
  color: #FFD700 !important;;
}

.box-price {
  font-size: 28px;
  margin-top: 6px;
  color: #85bb65 !important;;
}

.box-description {
  font-style: italic;
  font-size: 23px;
  margin-bottom: 6px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input {
  font-size: 40px;
  color: #fff;
  background: #23272a;
  border: 1px solid #7289DA;
  width: 49.5px;
  padding-top: 4px;
  margin-right: 3px;
}

.input-btn {
  user-select: none;
  cursor: pointer;
  font-size: 40px;
  border: 1px solid #7289DA;
  margin: 0px 3px;
  padding: 0px 4px;
  padding-bottom: 2px;
}

a {
  text-decoration: none;
  color: #7289DA;
}

.fancy-header {
  font-size: 30px;
  font-style: italic;
  margin-bottom: 5px;
  color: white;
}

.red {
  color: #CA2D36;
}

.divider {
  width: 100%;
  height: 4.1px;
  background-color: #23272a;
  margin: 30px 0px;
}

.header {
  font-size: 32px;
}

.dolla-dolla-bills {
  font-size: 42px;
  color: #85bb65;
}

.absolute-unit {
  font-size: 48px;
}

.box-name {
  color: #7289DA;
}