body {
    text-align: center;
    font-family: 'Lato';
}
.commands-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.command-column {
    display: flex;
    flex-direction: column;
 }

 .rules {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Lato';
  }
  
  .title {
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-align: center;
  }

  .wrap {
    margin: 0 auto;
    text-align: left;
    /*color: #989A8F;*/
  }
  
  .table {
    /*background-color: #ffffff;*/
    width: 100%;
    align-items: center;
    margin-top: 50px;

  }

  .spacing {
    margin-right: 25px;
    margin-left: 25px;
  }

  .noul li {
    float: left;
    list-style: none;
    width: 200px;
    text-align: center;
  }

  .top {
    /*background-color: #EAE9E4;*/
    height: 75px;
  }
  .top h1 {
    padding-top: 20px;
  }
  
  .circle {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    font-size: 20px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    margin-left: 70px;
    margin-top: 10px;
  }
  
  .bottom {
    margin-top: 50px;
  }
  .bottom p {
    font-size: 13px;
    font-family: 'Lato';
    padding: 5px;
  }
  .sign {
    margin-top: 30px;
  }
  .sign .button {
    padding: 10px 40px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    font-size: 17px;
  }
  
  