.footer {
  background: #23272A;
  color: white;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Lato';
}

.footer-column {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.footer-header {
  font-weight: bold;
  margin-bottom: 8px;
  font-family: Montserrat;
  text-transform: uppercase;
}

.footer-content {
  display: flex;
  flex-direction: column;
  color: #e6e6e6;
  padding-bottom: 5px;
}

.footer-link {
  text-decoration: none;
  color: #e6e6e6;
}

.footer-link:hover {
  color: white;
}

@media only screen and (max-width: 786px) {
  .footer {
    padding-bottom: 50px;
  }
}