.rule-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0% 32%;
}

.rule {
  background: #23272A;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.rule-head {
  flex-wrap: wrap;
  font-family: 'Montserrat';
  text-transform: uppercase;
  text-align: center;
}

.rule-number {
  color: #7289DA;
  flex-wrap: wrap;
  font-family: 'Montserrat';
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.rule-body {
  flex-wrap: wrap;
  font-family: 'Lato';
  text-align: center;
}
a {
  color: white;
}

.rules {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  font-family: 'Lato';
}

.title {
  font-family: 'Montserrat';
  color: #7289DA;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (max-width: 786px) {
  .rule-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0% 5%;
  }
}