.command-table {
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px;
  font-family: 'Lato';
}

.command-tr td {
  padding: 5px;
}

.category-name {
  text-transform: uppercase;
  font-family: 'Montserrat';
}

.command-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 12.5px;
}