.title {
  font-family: 'Montserrat';
  text-transform: uppercase;
}

.about {
  text-align: left;
}

.subsection {
  margin-top: 30px;
}

.invites a {
  color: #7289DA;
  text-decoration: none;
}

.good-spacing {
  padding: 0px 20%;
  margin-top: 75px;
}

@media only screen and (max-width: 786px) {
  .good-spacing {
    margin-top: 3em;
    padding: 0px 0.5em;
  }
}