.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10vh;
	margin-bottom: 12vh;

	.home-slogan {
		font-size: 3em;
		margin: 2rem 2rem 0.5rem;
		font-family: 'Montserrat';
		font-weight: bold;
	}

	.home-tag {
		font-size: 2em;
		margin: 0.5rem 2rem 2rem;
		font-family: 'Montserrat';
		color: #cccccc;
	}

	.underline {
		text-decoration: underline;
	}

	.links {
		display: flex;
		flex-direction: row;
	}

}

.call-to-action {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 18vh;
	margin-bottom: 18vh;

	.action-text {
		font-size: 2em;
		margin: 0.5rem 2rem 2rem;
		font-family: 'Montserrat';
		color: #ffffff;
		font-weight: bold;
	}

	.links {
		display: flex;
		flex-direction: row;
	}

}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 0px 200px;
	margin-top: 8vh;
	margin-bottom: 8vh;

	&.reverse {
		flex-direction: row-reverse !important;

		img {
			height: 18rem !important;
			margin-left: 8rem;
			margin-right: 0 !important;
		}
	}

	img {
		height: 28rem;
		margin-right: 8rem;
	}

	.text-area {
		width: 35%;

		.section-title {
			font-size: 2em;
			font-family: 'Montserrat';
			font-weight: bold;
			color: #7289DA;
		}

		.section-body {
			font-family: 'Lato';
			font-size: 1.3em;

			a {
				text-decoration: underline;
				color: #598e3c;
			}
		}

	}

}

.index>.home {
	justify-content: center;
}

@media only screen and (max-width: 786px) {
	section {
		flex-direction: column;
		padding: 10px;
		margin-bottom: 4em;

		img {
			height: auto !important;
			width: 80% !important;
			margin: 0px 0px 18px;
		}

		&.reverse {
			flex-direction: column !important;

			img {
				height: auto !important;
				width: 80% !important;
				margin: 0px 0px 18px;
			}
		}

		.text-area {
			width: 90%;
		}
	}

	.home-slogan {
		align-content: center !important;
		text-align: center !important;
		margin: 10px !important;
		font-size: 2em !important;
	}

	.home-tag {
		align-content: center !important;
		text-align: center !important;
		margin: 10px !important;
		font-size: 1.5em !important;
	}

	.action-text {
		align-content: center !important;
		text-align: center !important;
		margin: 10px !important;
		font-size: 1.5em !important;
	}

	.hero {
		margin-top: 2em;
		margin-bottom: 2.5em;
	}

	.links {
		display: flex;
		flex-wrap: wrap;
		align-content: center !important;
		justify-content: center !important;

		a {
			padding: 8px 4px !important;
		}
	}
}

@media only screen and (max-width: 786px) {
	.memer-img {
		height: 10rem;
	}
}