:root {
	--cta-bg-dist: 7px;
}

#home {
	&-hero {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 5vh;
		height: calc(100vh - 130px);
		&-text {
			display: grid;
			place-items: center;
			max-width: 681px;
			&-title {
				font-size: 92px;
				line-height: 98px;
				text-transform: uppercase;
				color: #ffffff;
			}
			&-slogan {
				font-size: 24px;
				text-align: center;
				font-family: 'Inter';
				letter-spacing: .5px;
				color: #eafcf1;
			}
		}
		&-cta {
			margin-top: 30px;
			position: relative;
			&-invite {
				position: relative;
				display: block;
				z-index: 2;
				font-size: 24px;
				font-family: 'Inter';
				font-weight: 500;
				text-transform: uppercase;
				border: 3px solid #14763d;
				background: #0b110c;
				color: white;
				padding: 10px 25px;
				transition: transform ease-in-out .3s, box-shadow ease-in-out .3s;
				box-sizing: border-box;
			}
			&-bg {
				content: '';
				position: absolute;
				top: var(--cta-bg-dist);
				left: var(--cta-bg-dist);
				height: calc(100% - var(--cta-bg-dist));
				width: calc(100% - var(--cta-bg-dist));
				background: #0b110c;
				border: 3px solid #14763d;
				transition: all ease-in-out .1s;
			}
			&:hover {
				#home-hero-cta-bg {
					top: 0;
					left: 0;
					height: calc(100% - var(--cta-bg-dist));
					width: calc(100% - var(--cta-bg-dist));
				}
			}
		}
		&-svg {
			position: absolute;
			z-index: -1;
			.triangle {
				filter: drop-shadow(0px 0px 18px #14763d);
			}
		}
	}
	&-quickinfo {
		width: 100%;
		display: grid;
		place-items: center;
		#qi-details {
			text-align: center;
			margin-bottom: 20px;
			#qi-title {
				font-size: 32px;	
			}
			#qi-about {
				color: #eafcf1;
				font-size: 16px;
			}
		}
		&-content {
			background: rgba($color: #000000, $alpha: .3);
			width: 35vw;
			height: 25vh;
			border-radius: 5px;
			padding: 20px 30px;
			display: flex;
			.col-2 {
				max-width: 50%;
				height: 100%;
				.qi-group {
					width: 95%;
					height: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					.qi-icon {
						display: grid;
						place-items: center;
						background: rgba(20, 118, 61, 0.09);
						min-width: 45px;
						min-height: 45px;
						border-radius: 50%;
						color: #199532;
						margin-right: 20px;
					}
					p {
						color: #eafcf1;
						font-size: 14px;
					}
				}
			}
		}
	}
	section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		// width: 80vw;
		margin: 0 auto;
		&:not(:last-child) {
			margin-bottom: 10vh;
		}
		#homepage-snowflake-image {
			height: 100%!important;
			width: 120%;
			max-width: 703px;
			max-height: 445px;
		}
		&.reverse {
			flex-direction: row-reverse;
			img {
				height: 28rem;
			}
			.text-area {
				text-align: right;
				.section-body {
					width: 80%;
					margin-left: 20%;
				}
			}
		}
		img {
			height: 18rem;
		}
		.text-area {
			text-align: left;
			.section-title {
				font-size: 40px;
				font-family: 'Montserrat', sans-serif;
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: 1px;
				color: #ffffff;
			}
			.section-body {
				width: 80%;
				font-family: 'Inter', sans-serif;
				font-size: 20px;
				color: #a3a3a3;
				a {
					color: #39923c;
					&:hover {
						text-decoration: underline;
					}
				}
			}
	
		}
	
	}	
}

@media only screen and (min-width: 455px) and (max-width: 1500px) {
	#home {
		&-hero {
			&-text {
				&-title {
					font-size: 70px;
					line-height: 70px;
					text-align: center;
				}
				&-slogan {
					width: 450px;
				}
			}
		}
		section, section.reverse {
			flex-direction: column;
			.text-area {
				text-align: center!important;
				.section-body {
					width: 100%!important;
					margin: unset;
					margin-bottom: 30px;
				}
			}
			img {
				height: unset!important;
				width: 80vw;
			}
		}

	}
}

@media only screen and (max-width: 1000px) {
	#home {
		&-hero {
			&-circles {
				transform: scale(0.7);
				overflow: hidden;
			}
		}
	}
}

@media only screen and (max-width: 454px) {
	#home {
		&-hero {
			height: calc(100vh - 150px);
			&-text {
				display: block;
				text-align: center;
				max-width: 100vw;
				&-title {
					font-size: 70px;
					line-height: 70px;
				}
				&-slogan {
					font-size: 18px;
					width: 100vw;
					padding: 0 5vw;
					box-sizing: border-box;
				}
			}
			&-cta {
				text-align: center;
				margin-top: 50px;
				&-invite {
					font-size: 23px;
					display: inline;
				}
			}
			&-circles {
				transform: scale(0.4);
				overflow: hidden;
			}
		}
		section, section.reverse {
			flex-direction: column;
			.text-area {
				text-align: center!important;
				.section-body {
					width: 100%!important;
					margin: unset;
					margin-bottom: 30px;
				}
			}
			img {
				height: unset!important;
				width: 80vw;
			}
		}
	}
}