#home {
	#home-hero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 12vh;
		height: calc(100vh - 75px);
		#home-hero-text {
			display: grid;
			place-items: center;
			#home-hero-title {
				font-size: 90px;
				line-height: 98px;
				text-transform: uppercase;
				color: #39923c;
				text-shadow: 5px 10px 10px rgba(0,0,0,0.1), 0px 10px 10px rgba(0,0,0,0.02);
			}
			#home-hero-slogan {
				font-size: 24px;
				text-align: center;
				width: 475px;
				font-family: 'Montserrat';
				font-weight: 500;
			}
		}
		#home-hero-cta {
			margin-top: 30px;
			width: 245px;
			#home-hero-cta-invite {
				display: block;
				font-size: 28px;
				font-family: 'Montserrat';
				font-weight: 700;
				text-transform: uppercase;
				background: #39923c;
				padding: 20px 30px;
				border-radius: 5px;
				box-shadow: 0px 0px 35px rgba(57, 146, 60, 0.5),
							inset 0px 0px 20px rgba(4, 214, 9, 0.3);
				transition: transform ease-in-out .3s, box-shadow ease-in-out .3s;
				box-sizing: border-box;
				&:hover {
					transform: translateY(-5px);
					box-shadow: 0px 5px 20px rgba(57, 146, 60, 0.7),
								inset 0px 0px 20px rgba(4, 214, 9, 0.3);
				}
			}
		}
		#home-hero-circles {
			position: absolute;
			z-index: -1;
		}
	}
	section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 80vw;
		margin: 0 auto;
		&:not(:last-child) {
			margin-bottom: 10vh;
		}
		// &.reverse {
		// 	flex-direction: row-reverse !important;
		// 	img {
		// 		height: 28rem !important;
		// 		// margin-left: 8rem;
		// 		margin-right: 8rem !important;
		// 	}
		// 	.text-area {
		// 		text-align: right;
		// 		.section-title, .section-body {
		// 			width: 80%;
		// 			margin-left: unset;
		// 			&.long {
		// 				width: 100%;
		// 			}
		// 		}
		// 	}
		// }
		&.reverse {
			flex-direction: row-reverse;
			img {
				height: 28rem;
			}
			.text-area {
				text-align: right;
				.section-body {
					width: 80%;
					margin-left: 20%;
				}
			}
		}
		img {
			height: 18rem;
		}
		.text-area {
			text-align: left;
			.section-title {
				font-size: 40px;
				font-family: 'Montserrat';
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: 1px;
				color: #ffffff;
			}
			.section-body {
				width: 80%;
				font-family: 'Lato';
				font-size: 20px;
				color: #a3a3a3;
				a {
					color: #39923c;
					&:hover {
						text-decoration: underline;
					}
				}
			}
	
		}
	
	}	
	#bottom-cta {
		width: 100%;
		display: grid;
		place-items: center;
		margin-top: 5vh;
		margin-bottom: 18vh;
		#bottom-cta-subtitle {
			font-size: 18px;
		}
		#bottom-cta-button {
			display: block;
			width: 180px;
			font-size: 18px;
			font-family: 'Montserrat';
			font-weight: 700;
			text-transform: uppercase;
			background: #39923c;
			margin: 20px 0;
			padding: 20px 30px;
			border-radius: 5px;
			box-shadow: 0px 0px 35px rgba(57, 146, 60, 0.5),
						inset 0px 0px 20px rgba(4, 214, 9, 0.3);
			transition: transform ease-in-out .3s, box-shadow ease-in-out .3s;
			box-sizing: border-box;
			&:hover {
				transform: translateY(-5px);
				box-shadow: 0px 5px 15px rgba(57, 146, 60, 0.7),
							inset 0px 0px 20px rgba(4, 214, 9, 0.3);

			}
		}
		#bottom-cta-text {
			font-family: 'Montserrat';
			a {
				font-weight: 400;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}		
}

@media only screen and (min-width: 455px) and (max-width: 1500px) {
	#home {
		#home-hero {
			#home-hero-text {
				#home-hero-title {
					font-size: 70px;
					line-height: 70px;
				}
				#home-hero-slogan {
					width: 450px;
				}
			}
		}
		section, section.reverse {
			flex-direction: column;
			.text-area {
				text-align: center!important;
				.section-body {
					width: 100%!important;
					margin: unset;
					margin-bottom: 30px;
				}
			}
			img {
				height: unset!important;
				width: 80vw;
			}
		}

	}
}

@media only screen and (max-width: 454px) {
	#home {
		#home-hero {
			height: calc(100vh - 150px);
			#home-hero-text {
				display: block;
				text-align: center;
				max-width: 100vw;
				#home-hero-title {
					font-size: 70px;
					line-height: 70px;
				}
				#home-hero-slogan {
					font-size: 18px;
					width: 100vw;
					padding: 0 5vw;
					box-sizing: border-box;
				}
			}
			#home-hero-cta {
				text-align: center;
				margin-top: 50px;
				#home-hero-cta-invite {
					font-size: 23px;
					display: inline;
				}
			}
			#home-hero-circles {
				transform: scale(0.5)
			}
		}
		section, section.reverse {
			flex-direction: column;
			.text-area {
				text-align: center!important;
				.section-body {
					width: 100%!important;
					margin: unset;
					margin-bottom: 30px;
				}
			}
			img {
				height: unset!important;
				width: 80vw;
			}
		}
		#bottom-cta {
			text-align: center;
		}
	}
}

// @media only screen and (max-width: 786px) {
// 	section {
// 		flex-direction: column;
// 		padding: 10px;
// 		margin-bottom: 4em;

// 		img {
// 			height: auto !important;
// 			width: 80% !important;
// 			margin: 0px 0px 18px;
// 		}

// 		&.reverse {
// 			flex-direction: column !important;

// 			img {
// 				height: auto !important;
// 				width: 80% !important;
// 				margin: 0px 0px 18px;
// 			}
// 		}

// 		.text-area {
// 			width: 90%;
// 		}
// 	}

// 	.home-slogan {
// 		align-content: center !important;
// 		text-align: center !important;
// 		margin: 10px !important;
// 		font-size: 2em !important;
// 	}

// 	.home-tag {
// 		align-content: center !important;
// 		text-align: center !important;
// 		margin: 10px !important;
// 		font-size: 1.5em !important;
// 	}

// 	.action-text {
// 		align-content: center !important;
// 		text-align: center !important;
// 		margin: 10px !important;
// 		font-size: 1.5em !important;
// 	}

// 	.hero {
// 		margin-top: 2em;
// 		margin-bottom: 2.5em;
// 	}

// 	.links {
// 		display: flex;
// 		flex-wrap: wrap;
// 		align-content: center !important;
// 		justify-content: center !important;

// 		a {
// 			padding: 8px 4px !important;
// 		}
// 	}
// }

// @media only screen and (max-width: 786px) {
// 	.memer-img {
// 		height: 10rem;
// 	}
// }