@keyframes scroll {
	from {}

	to {
		transform: translateY(-100%);
	}
}

#landing {
	width: 80vw;
	margin: 10vh auto;
	&-title {
		text-align: center;
		font-size: 50px;
		text-transform: uppercase;
		span {
			font-size: 70px;
			text-shadow: 5px 10px 10px rgba(0,0,0,0.1), 0px 10px 10px rgba(0,0,0,0.02);
		}
	}
	&-cards {
		display: grid;
		grid-template-columns: repeat(4, minmax(350px, 1fr));
		row-gap: 20px;
		.landing-card {
			width: 300px;
			height: 100px;
			background: #1a1a1a;
			padding: 20px 30px;
			transition: transform ease-in-out .3s, box-shadow ease-in-out .3s;
			&-name {
				font-size: 25px;
				text-align: center;
				margin-bottom: 10px;
			}
			&:hover {
				cursor: pointer;
				transform: translateY(-5px);
				box-shadow: 0px 0px 10px rgba(0,0,0,0.1),
							0px 10px 10px rgba(0,0,0,0.02),
							0px 0px 35px rgb(57, 146, 60, 0.2);
			}
		}
	}
}

.eee {
	margin-top: 10%;
}

.title {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 50px;
	text-align: center;
}

.list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	height: 25vh;
	font-family: 'Lato';

	a {
		text-decoration: none;
		color: white;
	}

	.boxy {
		background: #23272A;
		border-radius: 4px;
		width: 325px;
		display: flex;
		cursor: pointer;
		flex-direction: column;
		padding: 12px 15px;
		margin: 20px;
		box-shadow: 0 0 15px rgba(0, 0, 0, .82),
			0 1px 4px rgba(0, 0, 0, .1);

		.about-text {
			max-height: 4.5em;
			overflow: hidden;
			text-align: center;
			white-space: pre-wrap;
		}

		.about {
			transform: translateY(3em);
			animation: scroll 80s infinite linear 1s;
			display: block;
		}

		.name {
			text-align: center;
			font-weight: bold;
			margin-bottom: 10px;
		}
	}
}

@media only screen and (max-width: 786px) {
	.boxy {
		width: 90%;
	}

	.title {
		font-size: 25px;
	}

	.eee {
		margin-top: 0%;
	}
}