.content-legal {
    text-align: left;
    font-family: 'Lato';
    padding: 0% 28%;
  
    a {
      color: #7289DA;
    }
  }

  @media only screen and (max-width: 786px) {
    .content-legal {
        padding-left: 15px;
        padding-right: 15px;
      }
  }