* {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
}

$bgMain: #292929;
$darkGreen: #39923c;

body {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    overflow-wrap: break-word;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: $bgMain;
    font-family: 'Inter', sans-serif;
    a {
        text-decoration: none;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat';
    }
    #ree-overlay {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background-color: rgba(255, 0, 0, 0.5);
        pointer-events: none;
        &.reeing {
            opacity: 0.4;
        }
    }
    #discord--login {
        background: #7289DA;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        min-width: 80%;
        transition: background-color ease .17s;
        svg {
            margin-right: 10px;
        }
        &:hover {
            background: #677bc4;
        }
    }
    .content {
        font-family: 'Lato', sans-serif;
        padding: 10px;
        flex: 1 0 auto;
    }
    #pseudoBody {
        position: relative;
        overflow-x: hidden;
        min-height: calc(100vh - 40px);
        max-width: 100vw;
        color: white;
    }

    .nitropay {
        margin: 5vh auto;
    }

    .blurple { color: #7289DA; }  
    .pepple { color: #598e3c; }
    .text-highlight {
        color: $darkGreen;
        font-weight: inherit;
    }

	#bottom-cta {
		width: 100%;
		display: grid;
		place-items: center;
		margin: 10vh 0;
		&-subtitle {
			font-size: 18px;
		}
		&-button {
			display: block;
			width: 180px;
			font-size: 18px;
			font-family: 'Montserrat';
			font-weight: 700;
			text-transform: uppercase;
			background: #39923c;
			color: #ffffff;
			margin: 20px 0;
			padding: 20px 30px;
			border-radius: 5px;
			box-shadow: 0px 0px 35px rgba(57, 146, 60, 0.5),
						inset 0px 0px 20px rgba(4, 214, 9, 0.3);
			transition: transform ease-in-out .3s, box-shadow ease-in-out .3s;
			box-sizing: border-box;
			&:hover {
				transform: translateY(-5px);
				box-shadow: 0px 5px 15px rgba(57, 146, 60, 0.7),
							inset 0px 0px 20px rgba(4, 214, 9, 0.3);

			}
		}
		&-text {
			font-family: 'Inter', sans-serif;
			a {
				font-weight: 400;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}		
} 

@media only screen and (max-width: 454px) {
    body {
        #bottom-cta {
            width: 80vw;
            margin: 5vh auto;
			text-align: center;
		}
    }
}
  