* {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    &:focus-visible {
        outline: none;
    }
}

$bgMain: #0b110c;
$darkGreen: #39923c;

body {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    overflow-wrap: break-word;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: $bgMain;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    a {
        text-decoration: none;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat';
    }
    #ree-overlay {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background-color: rgba(255, 0, 0, 0.5);
        pointer-events: none;
        &.reeing {
            opacity: 0.4;
        }
    }

    #discord--login {
        background: #7289DA;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        min-width: 80%;
        transition: background-color ease .17s;
        svg {
            margin-right: 10px;
        }
        &:hover {
            background: #677bc4;
        }
    }

    .nitropay {
        margin: 5vh auto;
    }

    .text-highlight {
        color: $darkGreen;
        font-weight: inherit;
    }

	#bottom-cta {
		width: 100%;
		display: grid;
		place-items: center;
		margin: 10vh 0;
		&-subtitle {
			font-size: 18px;
		}
		&-button {
            position: relative;
            margin: 20px 0px;
            &-invite {
				position: relative;
				display: block;
				z-index: 2;
				font-size: 20px;
				font-family: 'Inter';
				font-weight: 500;
				text-transform: uppercase;
				border: 3px solid #14763d;
				background: #0b110c;
				color: white;
				padding: 10px 25px;
				transition: transform ease-in-out .3s, box-shadow ease-in-out .3s;
				box-sizing: border-box;
			}
			&-bg {
				content: '';
				position: absolute;
				top: var(--cta-bg-dist);
				left: var(--cta-bg-dist);
				height: calc(100% - var(--cta-bg-dist));
				width: calc(100% - var(--cta-bg-dist));
				background: #0b110c;
				border: 3px solid #14763d;
				transition: all ease-in-out .1s;
			}
            &:hover {
				#bottom-cta-button-bg {
					top: 0;
					left: 0;
					height: calc(100% - var(--cta-bg-dist));
					width: calc(100% - var(--cta-bg-dist));
				}
			}
		}
		&-text {
			font-family: 'Inter', sans-serif;
			a {
				font-weight: 400;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}		
} 

@media only screen and (max-width: 454px) {
    body {
        #bottom-cta {
            width: 80vw;
            margin: 5vh auto;
			text-align: center;
		}
    }
}
  