.footer {
  background: #23272A;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Lato';
  z-index: 998;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-group {
  display: flex;
  align-items: center;
}

.footer-copyright, .footer-links {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-table {
  display: flex;
  justify-content: space-evenly;
}

.footer-link {
  margin-left: 10px;
  text-decoration: none;
  color: #e6e6e6;
}

.footer-link:hover {
  color: white;
}

@media only screen and (max-width: 786px) {
  .footer {
    padding-left: 10px;
  }

  .footer-table {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-links {
    order: 1;
  }

  .footer-copyright {
    display: none;
  }
}