.navbar {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 32em;
  padding-right: 32em;
  z-index: 999;
  font-family: 'Montserrat';
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 40px;
}

.avatar {
  border-radius: 50%;
  width: 30%;
  height: 30%;
  float: left;
}

.user div {
  width: 80%;
  text-align: left!important;
  float: right;
}
  
.user a {
  font-size: x-small!important;
  text-align: right;
  font-weight: normal!important;
}

.user span:hover {
  color: white!important;
}

.nav-item {
  float: left;
}

.nav-link.active {
  color: #7289DA;
}

.nav-link.active:not(.premium):hover {
  color: #4a67cf;
}

.nav-link {
  display: block;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: #e6e6e6;
}

.DM-nav {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 40px;
}

.nav-link.premium {
  color: #FFD700;
}

.nav-link.premium:after {
  content: '\A ' attr(data-discount);
  color: #f44336;
  white-space: pre;
  font-size: x-small;
}

.nav-link.premium:hover {
  filter: brightness(85%) !important;
}

@media only screen and (max-width: 786px) {
  .DM-nav {
    margin: 15px 0px 0px 0px;
  }
  .navbar {
    justify-content: center;
    height: auto;
    padding: 0px;
  }
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    z-index: 999;
    margin: 10px 8px 0px;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .nav-link {
    margin: 5px;
  }
  .user a {
    text-align: center;
  }
}