.navbar {
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-right: 20%;
  z-index: 999;
  font-family: 'Montserrat';
  justify-content: space-between;
}
.nav-links {
  list-style-type: none;
  margin: 0;
  margin-top: 0.4em;
  padding: 0;
  overflow: hidden;
  margin-right: 40px;
  margin-left: 15px;
}

.avatar {
  border-radius: 50%;
  width: 30%;
  height: 30%;
  float: left;
}

.test {
  display: flex;
  flex-direction: row;
}

.login {
  align-content: right;
}

.user div {
  width: 80%;
  text-align: left!important;
  float: right;
}
  
.user a {
  font-size: x-small!important;
  text-align: right;
  font-weight: normal!important;
}

.user span:hover {
  color: white!important;
}

.nav-item {
  float: left;
}

.nav-link.active {
  border-bottom: 2px solid white;
}

.nav-link.active:not(.premium):hover {
  transform: scale(1.05);
}

.nav-link {
  display: block;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition-duration: 0.6s; /* Safari */
  transition-duration: 0.3s;
}

.nav-link:hover {
  filter: brightness(90%) !important;
}

.DM-nav {
  color: white;
  font-weight: bold;
  font-size: 1.75em;
  margin-left: 40px;
  padding-right: 25px;
  border-right: 3px solid #7289DA!important;
}

.nav-link.premium {
  color: #FFD700;
}

.nav-link.premium:after {
  content: '\A ' attr(data-discount);
  color: #f44336;
  white-space: pre;
  font-size: x-small;
}

.nav-link.premium:hover {
  filter: brightness(90%) !important;
}

.obutton {
  border: 2px solid #23272a;
  background-color: #40444b;
  color: white;
  padding: 9px 11px;
  height: auto;
  width: 100px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: bold;
  border-radius: 8px;
  -webkit-transition-duration: 0.6s; /* Safari */
  transition-duration: 0.3s;
}

  .obutton:hover {
    border-color: #23272a;
    background-color: #40444b;
    color: #7289DA;
  }

  .obutton:active {
    transform: scale(0.95);
  }

  a {
    color: currentColor;
    text-decoration: none;
  }



@media only screen and (max-width: 1200px) {
  .DM-nav {
   font-size: 2em;
   padding: 43px 0px 5px;
   margin: 0px 20px;
   border: none!important;
  }

  .login {
    padding-top: 18px;
  }

  .test {
    border-bottom: 2px solid #7289DA;
  }

  .navbar {
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    height: auto;
    margin: 0% 10%;
    padding: 0px 10px;
  }
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    z-index: 999;
    margin: 0px 20px;
    padding: 15px 0px 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .nav-link {
    margin: 3px;
  }
  .user a {
    text-align: center;
  }
}

@media only screen and (min-width: 1900px) {
  
}