#control-panel {
    min-height: 100vh;
    display: flex;
    nav {
        margin-right: 5vw;
        display: block;
        width: 240px;
        min-height: 100vh;
        background: #1a1a1a;
        overflow: hidden;
        #nav-logo-container {
            display: grid;
            place-items: center;
            width: 100%;
            margin-top: 30px;
        }
    }
    #restricted {
        display: grid;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 40px);
        width: 100vw;
        &-content {
            background: #1e1e1e;
            width: calc(485px - 120px);
            padding: 60px 50px;

            &-title {
                font-size: 50px;
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 20px;
            }

            &-body {
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }
}

#control {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &-admin {
        margin: 10vh 5vw 0 0vw;
        width: 50vw;
        &-header {
            margin-bottom: 40px;
            border-bottom: 2px solid #1a1a1a;
            &-title {
                font-size: 60px;
            }
            &-note {
                color: #a5a5a5;
                font-size: 18px;
                width: 80%;
                margin-bottom: 40px;
            }
        }
        &-panels {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 20px;
            .admin-panel {
                min-height: 215px;
                width: 230px;
                padding: 20px 30px;
                background: #1a1a1a;
                box-sizing: border-box;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                text-align: left;
                &.large  {
                    width: 300px;
                }
                label {
                    margin-right: 10px;
                }
                select {
                    appearance: none;
                    background: rgba(0, 0, 0, 0.37);
                    outline: none;
                    border: none;
                    color: #ffffff;
                    font-size: 14px;
                    font-family: 'Inter', sans-serif;
                    padding: 5px;
                    position: relative;
                    option {
                        background:rgba(0, 0, 0, .82);
                    }
                }
                input[type=text] {
                    background: rgba(0, 0, 0, 0.37);
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0;
                    color: #ffffff;
                    border: none;
                    font-size: 14px;
                    font-family: 'Inter', sans-serif;
                    box-sizing: border-box;
                }

                &-button {
                    background: #39923c;
                    color: #ffffff;
                    margin-top: 10px;
                    padding: 10px 15px;
                    border-radius: 5px;
                    display: block;
                    width: max-content;
                    transition: box-shadow ease-in-out .3s;
                    user-select: none;

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0px 2px 20px rgba(57, 146, 60, 0.7),
                            inset 0px 0px 5px rgba(4, 214, 9, 0.3);
                    }
                }
            }
        }

    }
    &-mods {
        margin: 10vh 5vw 0 0vw;
        width: 50vw;
        &-header {
            margin-bottom: 40px;
            border-bottom: 2px solid #1a1a1a;
            &-title {
                font-size: 60px;
            }
            &-note {
                color: #a5a5a5;
                font-size: 18px;
                width: 80%;
                margin-bottom: 40px;
            }
        }
        &-checker {
            &-title {
                font-size: 25px;
            }
            &-note {
                color: #a5a5a5;
                font-size: 16px;
                width: 80%;
                margin-bottom: 20px;
            }
            &-input {
                label {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    margin-right: 10px;
                }
                input {
                    border: 1px solid #1a1a1a;
					background: rgba(0,0,0,0.6);
					height: 16px;
					width: 165px;
					padding: 5px;
					margin-right: 10px;
					color: #ffffff;
					border: none;
					font-size: 14px;
					font-family: 'Inter', sans-serif;
					&:focus {
						border: 1px solid #39923c;
						outline: none;
					}
                }
            }
            &-actions {
                &-submit {
                    user-select: none;
                    cursor: pointer;
                    background: #39923c;
                    color: #ffffff;
                    margin-top: 10px;
                    padding: 10px 15px;
                    border-radius: 5px;
                    display: block;
                    width: max-content;
                    transition: box-shadow ease-in-out .3s;
                    &:hover {
                        box-shadow: 0px 0px 10px rgba(57, 146, 60, 0.7),
                                    inset 0px 0px 5px rgba(4, 214, 9, 0.3);
                    }    
                }
            }
        }
    }
    #staff-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .staff-card {
            position: relative;
            text-align: center;
            width: 250px;
            height: 315px;
            background:#1a1a1a;
            border-radius: 4px;
            padding: 12px 15px;
            margin-top: 11vh;
            box-shadow: 0 0 10px rgba(0, 0, 0, .82),
                          0 1px 4px rgba(0, 0, 0, .1);
        }
        #edit-staff-card {
            user-select: none;
            display: block;
            text-align: center;
            width: 250px;
            box-sizing: border-box;
            color: #ffffff;
            background: #39923c;
            box-shadow: 0px 0px 10px rgba(57, 146, 60, 0.5),
            inset 0px 0px 20px rgba(4, 214, 9, 0.3);
            transition: transform ease-in-out .3s, box-shadow ease-in-out .3s;
            box-sizing: border-box;
            &:hover {
                transform: translateY(-5px);
                box-shadow: 0px 5px 20px rgba(57, 146, 60, 0.7),
                            inset 0px 0px 20px rgba(4, 214, 9, 0.3);
            }
            padding: 12px 15px;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}

#edit-staff-modal {
    &-title {
        margin-top: 20px;
        margin-left: 20px;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        .show-mobile { display: none; }
        &-preview {
            max-width: 320px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .input-singular {
                background: #1a1a1a;
                margin-bottom: 20px;
                border-radius: 5px;
                padding: 5px 10px;
                width: 260px;
                height: 25px;
                border: none;
                outline: none;
                color: #ffffff;
                font-family: 'Inter', sans-serif;
            }
            &-save {
                user-select: none;
                display: block;
                text-align: center;
                width: 250px;
                box-sizing: border-box;
                color: #ffffff;
                background: #39923c;
                box-shadow: 0px 0px 10px rgba(57, 146, 60, 0.5),
                inset 0px 0px 20px rgba(4, 214, 9, 0.3);
                transition: transform ease-in-out .3s, box-shadow ease-in-out .3s;
                box-sizing: border-box;
                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0px 5px 20px rgba(57, 146, 60, 0.7),
                                inset 0px 0px 20px rgba(4, 214, 9, 0.3);
                }
                padding: 12px 15px;
                border-radius: 3px;
                cursor: pointer;
            }
        }
        &-info {
            margin-top: 20px;
            width: 65%;
            height: 100%;
            textarea {
                background:#1a1a1a;
                width: 100%;
                height: 70px;
                color: #ffffff;
                outline: none;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                box-sizing: border-box;
                font-family: 'Inter', sans-serif;
                resize: none;
            }
            .input-group {
                background: #1a1a1a;
                margin: 10px 0px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 10px;
                &-image {
                    min-width: 25px; max-width: 25px;
                    min-height: 25px; max-height: 25px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                input {
                    margin-left: 10px;
                    height: 90%;
                    width: 100%;
                    background: none;
                    border: none;
                    outline: none;
                    color: #ffffff;
                    font-family: 'Inter', sans-serif;
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    #control {
        &-admin {
            margin: 10vh 0 0 0;
            width: 50vw;
            &-panels {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                row-gap: 20px;
                .admin-panel {
                    &:not(:last-child) {
                        margin-right: 0!important;
                    }
                }
            }
        }        
    }
}

@media only screen and (max-width: 850px) {
    #control {
        display: grid;
        place-items: center;
        text-align: center;
        margin-bottom: 5vh;
        &-admin-header-note { width: 100%; }
        &-admin {
            margin: unset;
            margin-top: 10vh;
            width: 80vw;
        }
        &-mods {
            margin: unset;
            margin-top: 10vh;
            width: 80vw;
            &-header-note { width: 100%; }
            &-checker {
                &-note {
                    width: 100%;
                }
                &-input {
                    input {
                        margin-right: unset;
                    }
                }
                &-actions {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 790px) {
    #edit-staff-modal {
        h1 {
            text-align: center;
        }
        &-content {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 20px;
        }
        .hide-mobile {
            display: none;
        }
        .show-mobile {
            margin-top: 20px;
            display: block;
        }
    }
}

@media only screen and (max-width: 786px) {
    .staff-card {
        width: 250px!important;
    }
}

@media only screen and (max-width: 500px) {
    #edit-staff-modal {
        &-content {
            &-info {
                width: unset;
                .input-group {
                    input {
                        width: 85%;
                    }
                }
            }
        }
    }
}