@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

#control-panel {
    min-height: 100vh;
    display: flex;
    #desktop-nav {
        position: fixed;
        display: block;
        min-width: 240px;
        min-height: 100vh;
        background: #111712;
        overflow: hidden;
        z-index: 999999;
        &.no-margin {
            margin-right: 0px;
        }
        #nav-logo-container {
            display: grid;
            place-items: center;
            width: 100%;
            margin-top: 30px;
        }
        .nav-category {
            margin-left:  20px;
            margin-top: 30px;
            position: relative;
            &-links {
                margin-left: 20px;
                li {

                    list-style: none;
                    margin-bottom: 5px;
                    transition: margin-left ease-in-out .1s;
                    &:hover {
                        margin-left: 5px;
                        a.active {
                            color: #c0e9c6;
                        }
                    }
                    a {
                        color: #d8d8d8;
                        &.active {
                            color: #c0e9c6;
                        }
                        &:hover {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
        #nav-account {
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.05);
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            box-sizing: border-box;
            &-info {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                &-avatar {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }
                &-user {
                    margin-left: 10px;
                    &-discrim {
                        color: #929292;
                        font-size: 12px;
                    }
                }
            }
            &-actions {
                .material-icons {
                    font-size: 20px;
                    cursor: pointer;
                    user-select: none;
                    color: #fd7373;
                    &:hover {
                        color: #e95151;
                    }
                }
            }
        }
    }
    #mobile-nav {
        display: none;
        width: 100vw;
        height: 80px;
        background: #121b13;
        position: fixed;
        z-index: 999999;
        #nav-logo-container {
            margin-left: 20px;
        }
        &-links {
            display: flex;
            align-items: center;
            li {
                list-style: none;
                &:not(:last-child) {
                    margin-right: 20px;
                }            
                &:hover {
                    a.active {
                        color: #c0e9c6;
                    }
                }
                a {
                    color: #d8d8d8;
                    &.active {
                        color: #c0e9c6;
                    }
                    &:hover {
                        color: #ffffff;
                    }
                }
            }
        }
        &-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            &-account {
                background: #111712;
                width: 80px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 20px;
                box-sizing: border-box;
                &-info {
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    &-avatar {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                    }
                }
                &-actions {
                    .material-icons {
                        font-size: 20px;
                        cursor: pointer;
                        user-select: none;
                        color: #fd7373;
                        &:hover {
                            color: #e95151;
                        }
                    }
                }
            }
            &-hamburger {
                margin-right: 20px;
                display: grid;
                cursor: pointer;
                &-links {
                    position: absolute;
                    left: 0;
                    top: 80px;
                    padding-top: 50px;
                    background: #111712;
                    width: 100vw;
                    height: calc(100vh - 80px);
                    ul {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        li {
                            list-style: none;
                            margin-bottom: 10px;
                            &:hover {
                                a.active {
                                    color: #c0e9c6;
                                }
                            }
                            a {
                                font-size: 25px;
                                color: #d8d8d8;
                                &.active {
                                    color: #c0e9c6;
                                }
                                &:hover {
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }    
        }
        #nav-account-dropdown {
            background: #111712;
            position: absolute;
            right: 0;
            top: 80px;
            ul li {
                list-style: none;
                a {
                    color: #ffffff;
                    display: block;
                    padding: 15px 20px;
                    &:hover {
                        background: rgba(255,255,255,0.01)
                    }
                }
            }
        }
    }
    #content-container {
        width: 86.5vw;
        margin-right: 7vw;
        margin-left: calc(240px + 7vw);
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Poppins';
        }
        &.no-margin {
            margin-left: 240px;
            margin-right: 0px;
        }
    }
    #restricted {
        display: grid;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 40px);
        width: 100vw;
        &-content {
            background: #050b06;
            width: calc(485px - 120px);
            padding: 60px 50px;

            &-title {
                font-size: 50px;
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 20px;
            }

            &-body {
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }
}

@media only screen and (max-width: 1450px) {
    #control-panel {
        #content-container {
            margin-right: 2vw;
            margin-left: calc(240px + 2vw);
            .control-card.resize {
                padding: 18px 27px;
                height: 200px;
                width: 200px;
                .control-card-header {
                    margin-left: 60px;
                    h3 {
                        font-size: 18px;
                    }
                    .control-card-icon {
                        width: 70px;
                        height: 70px;
                        &-bg {
                            .material-icons {
                                font-size: 24px;
                            }
                            &.lg {
                                width: 60px;
                                height: 60px;
                            }
                            &.sm {
                                width: 45px;
                                height: 45px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1160px) {
    .Toastify__toast-container--top-right {
        top: 6em; // Extra space required because of the mobile navigation
    }
    #control-panel {
        flex-direction: column;
        #mobile-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #desktop-nav {
            display: none;
        }
        #content-container {
            width: calc(100vw - 100px);
            margin: 50px;
            &.no-margin {
                width: 100%;
                margin-top: 80px;
                margin-left: 0px;
                #admin-blogs-editor-container {
                    height: calc(100vh - 130px);
                    overflow: hidden;
                }
                #blog-editor-details {
                    width: calc(100vw - 350px);
                    height: 18vh;
                }
                #blog-editor {
                    width: calc(100vw - 350px);
                    textarea {
                        border-right: 1px solid #0a0a0a;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    #mobile-nav-links > li:nth-child(5) {
        display: none;
    }
}

@media only screen and (max-width: 980px) {
    #mobile-nav-links > li:nth-child(6) {
        display: none;
    }
}

@media only screen and (max-width: 830px) {
    #mobile-nav-links {
        display: none!important;
    }
}

// @media only screen and (max-width: 850px) {
//     #control {
//         display: grid;
//         place-items: center;
//         text-align: center;
//         margin-bottom: 5vh;
//         &-admin-header-note { width: 100%; }
//         &-admin {
//             margin: unset;
//             margin-top: 10vh;
//             width: 80vw;
//         }
//         &-mods {
//             margin: unset;
//             margin-top: 10vh;
//             width: 80vw;
//             &-header-note { width: 100%; }
//             &-checker {
//                 &-note {
//                     width: 100%;
//                 }
//                 &-input {
//                     input {
//                         margin-right: unset;
//                     }
//                 }
//                 &-actions {
//                     display: flex;
//                     justify-content: center;
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 790px) {
//     #edit-staff-modal {
//         h1 {
//             text-align: center;
//         }
//         &-content {
//             justify-content: center;
//             align-items: center;
//             flex-direction: column;
//             margin-bottom: 20px;
//         }
//         .hide-mobile {
//             display: none;
//         }
//         .show-mobile {
//             margin-top: 20px;
//             display: block;
//         }
//     }
// }

// @media only screen and (max-width: 786px) {
//     .staff-card {
//         width: 250px!important;
//     }
// }

// @media only screen and (max-width: 500px) {
//     #edit-staff-modal {
//         &-content {
//             &-info {
//                 width: unset;
//                 .input-group {
//                     input {
//                         width: 85%;
//                     }
//                 }
//             }
//         }
//     }
// }