#admin-access {
    margin-top: 6vh;
    &-title {
        font-size: 45px;
    }
    &-cards {
        margin: 5vh 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-staff-list {
        margin-bottom: 5vh;
        &-title {
            font-size: 30px;
        }
        .staff-row {
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
            width: 100%;
            background: #050b06;
            padding: 10px 20px 10px 40px;
            border-radius: 5px;
            &-group {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                min-width: 380px;
                &-picture {
                    width: 40px;
                    height: 40px;
                    background: rgba(0, 0, 0, .82);
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    margin-right: 20px;
                }
                &-username {
                    font-size: 16px;
                    font-weight: 600;
                    span {
                        font-weight: 400;
                    }
                }
            }
            &-role {
                min-width: 170px;
                text-align: center;
            }
            &-about {
                width: 100%;
                margin-left: 20px;
                margin-right: 20px;
                line-height: 1.5em;
                height: 3em;
                overflow: hidden;
                white-space: wrap;
                text-overflow: ellipsis;
            }
            &-actions {
                float: right;
                display: flex;
                justify-content: center;
                align-items: center;
                & > * {
                    user-select: none;
                    cursor: pointer;
                    padding: 10px 15px;
                    border-radius: 5px;
                    transition: all ease-in-out .2s;
                }
                &-remove {
                    color: #eb5050;
                    border: 1px solid #eb5050;
                    &:hover, &:focus-visible {
                        color: #ffffff;
                        background: #eb5050;
                    }
                }
                &-inspect {
                    color: #7289DA;
                    border: 1px solid #7289DA;
                    &:hover, &:focus-visible {
                        color: #ffffff;
                        background: #7289DA;
                    }

                }
                :not(:nth-child(3)) {
                    margin-right: 10px;
                }
            }
            &:nth-child(1) {
                margin-top: 3vh;
            }
            &:not(:nth-child(1)) {
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (max-width: 1150px) {
    #admin-access {
        &-staff-list {
            .staff-row {
                &-group {
                    min-width: 200px;
                    &-id {
                        display: none;
                    }
                }
            }
        }
    }
}