#admin-access {
    margin-top: 6vh;
    &-title {
        font-size: 45px;
    }
    &-cards {
        margin: 5vh 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .access-card {
            position: relative;
            background: #1a1a1a;
            padding: 24px 30px;
            height: 260px;
            width: 260px;
            border-radius: 5px;
            box-shadow: 0 0 15px rgba(0, 0, 0, .82),
                        0 1px 4px rgba(0, 0, 0, .1);

            &-input-group {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 20px;
                .material-icons {
                    color: #2c2c2c;
                    position: absolute;
                    margin-left: 10px;
                }
                input {
                    width: 100%;
                    height: 40px;
                    font-size: 15px;
                    font-family: 'Inter', sans-serif;
                    background: #0f0f0f;
                    border-radius: 5px;
                    color: #b9b9b9;
                    padding-left: 40px;
                    box-sizing: border-box;
                    border: none;
                    outline: none;
                    &::placeholder {
                        color: #444444;
                        opacity: 1;
                    }
                }
            }
            &-dropdown {
                position: relative;
                width: 100%;
                .icon.material-icons {
                    font-size: 20px;
                    color: #2c2c2c;
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    pointer-events: none;
                }
                .right.material-icons {
                    position: absolute;
                    color: #b9b9b9;
                    right: 10px;
                    top: 10px;
                    pointer-events: none;
                }
                &-selected {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 40px;
                    font-size: 15px;
                    padding-left: 40px;
                    box-sizing: border-box;
                    font-family: 'Inter', sans-serif;
                    background: #0f0f0f;
                    border-radius: 5px;
                    color: #b9b9b9;
                    cursor: pointer;
                    user-select: none;
                    &.open {
                        border-bottom-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }
                }
                #access-card-dropdown-options {
                    position: absolute;
                    height: max-content;
                    width: 100%;
                    background: #0f0f0f;
                    border-top: 1px solid #020202;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    z-index: 9;
                    overflow: hidden;
                    p {
                        padding-left: 15px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        color: #b9b9b9;
                        cursor: pointer;
                        &:hover {
                            color: #e6e6e6;
                            background: rgba(0,0,0,0.3)
                        }
                    }
                }
            }
            &-header {
                display: flex;
                justify-content: flex-start;
                margin-left: 80px;
                margin-bottom: 20px;
                h3 {
                    font-size: 23px;
                    font-weight: 600;
                }
            }
            &-icon {
                display: grid;
                place-items: center;
                width: 80px;
                height: 80px;
                position: absolute;
                top: 10px;
                left: 15px;
                .material-icons {
                    font-size: 35px;
                    z-index: 9;
                }
                &-bg {
                    display: block;
                    position: absolute;
                    z-index: 1;
                    border-radius: 50%;
                    &.green {
                        background: rgba(57, 146, 60, .19);
                    }
                    &.red {
                        background: rgba(235, 80, 80, .19);
                    }
                    &.lg {
                        height: 70px;
                        width: 70px;
                    }
                    &.sm {
                        height: 55px;
                        width: 55px;
                    }
                }
            }
            &-button {
                position: absolute;
                bottom: 20px;
                color: #39923c;
                border: 3px solid #39923c;
                border-radius: 5px;
                width: max-content;
                padding: 7px 15px;
                user-select: none;
                transition: all ease-in-out .1s;
                &.filled {
                    color: #ffffff;
                    background: #39923c;
                    &:hover {
                        cursor: not-allowed;
                    }
                }
                &:hover, &:focus-within {
                    color: #ffffff;
                    background: #39923c;
                    cursor: pointer;
                }
            }
        }
    }
    &-staff-list {
        margin-bottom: 5vh;
        &-title {
            font-size: 30px;
        }
        .staff-row {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
            width: 100%;
            background: #1a1a1a;
            padding: 10px 20px 10px 40px;
            border-radius: 5px;
            &-group {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                min-width: 380px;
                &-picture {
                    width: 40px;
                    height: 40px;
                    background: rgba(0, 0, 0, .82);
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    margin-right: 20px;
                }
                &-username {
                    font-size: 16px;
                    font-weight: 600;
                    span {
                        font-weight: 400;
                    }
                }
            }
            &-role {
                min-width: 170px;
                text-align: center;
            }
            &-about {
                width: 100%;
                margin-left: 20px;
                margin-right: 20px;
            }
            &-actions {
                float: right;
                display: flex;
                justify-content: center;
                align-items: center;
                & > * {
                    user-select: none;
                    cursor: pointer;
                    padding: 10px 15px;
                    border-radius: 5px;
                    transition: all ease-in-out .2s;
                }
                &-remove {
                    color: #eb5050;
                    border: 1px solid #eb5050;
                    &:hover, &:focus-visible {
                        color: #ffffff;
                        background: #eb5050;
                    }
                }
                &-inspect {
                    color: #7289DA;
                    border: 1px solid #7289DA;
                    &:hover, &:focus-visible {
                        color: #ffffff;
                        background: #7289DA;
                    }

                }
                :not(:nth-child(3)) {
                    margin-right: 10px;
                }
            }
            &:nth-child(1) {
                margin-top: 3vh;
            }
            &:not(:nth-child(1)) {
                margin-top: 20px;
            }
        }
    }
}