#admin-users {
    margin-top: 6vh;
    &-title {
        font-size: 45px;
    }
    &-modal {
        width: 100%;
        min-height: 100px;
        .react-json-view {
            padding: 10px 20px;
            border-radius: 5px;
        }
    }
    &-cards {
        margin: 5vh 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            row-gap: 40px;
        }
    }
}