.commands-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.command-column {
  display: flex;
  flex-direction: column;
}

.overide {
    background: #2C2F33;
}

.active-tab {
  background: #7289DA;
  color: white;
}