#mods-inspect {
    margin-top: 6vh;
    &-title {
        font-size: 45px;
    }
    &-cards {
        margin: 5vh 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}