#admin {
	&-login {
		display: grid;
		justify-content: center;
		align-items: center;
		min-height: calc(100vh - 40px);
		&-content {
			background: #1e1e1e;
			width: calc(485px - 120px);
			padding: 60px 50px;
			&-title {
				font-size: 50px;
				font-family: 'Montserrat', sans-serif;
				margin-bottom: 20px;
			}
			&-body {
				font-size: 16px;
				margin-bottom: 50px;
			}
		}
	}
	&-content {
		margin-top: 10vh;
		&-title {
			text-align: center;
			font-size: 60px;
		}
		&-panels {
			display: flex;
			justify-content: center;
			align-items: center;
			.admin-panel {
				width: 200px;
				padding: 20px 30px;
				background: #1a1a1a;
				label {
					margin-right: 10px;
				}
				input[type=text] {
					background: rgba(0, 0, 0, 0.37);
					height: 20px;
					width: 165px;
					padding: 5px;
					margin: 10px 0;
					color: #ffffff;
					border: none;
					font-size: 14px;
					font-family: 'Inter', sans-serif;
				}
				&-button {
					background: #39923c;
					color: #ffffff;
					margin-top: 10px;
					padding: 10px 15px;
					border-radius: 5px;
					display: block;
					width: max-content;
					transition: box-shadow ease-in-out .3s;
					user-select: none;
					&:hover {
						cursor: pointer;
						box-shadow: 0px 2px 20px rgba(57, 146, 60, 0.7),
									inset 0px 0px 5px rgba(4, 214, 9, 0.3);
					}	
				}
				&:not(:last-child) {
					margin-right: 30px;
				}
			}
		}
	}
}

.admin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 0 10%;

  .header {
    font-size: 32px;

    a {
      color: #7289DA;
      text-decoration: none;
    }
  }

  section {
    width: 400px;
    text-align: left;
    height: fit-content;
    background: #23272A;
    border-radius: 5px;
    flex-basis: 20%;
    margin: 5px;
    padding: 10px;

    @media only screen and (max-width: 786px) {
      flex-basis: 100%;
    }

    .section-header {
      font-size: 20px;
    }
  }

  label {
    display: block;
    margin: 7px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}