#legal {
	width: 60vw;
	margin: 10vh auto;
	&-header {
		margin-bottom: 20px;
		&-title {
			color: #39923c;
			font-size: 60px;
			text-transform: uppercase;
		}
		&-subtitle {
			font-size: 18px;
		}
	}
	.legal-paragraph {
		margin-bottom: 20px;
		&-title {
			margin: 10px 0;
		}
		.legal-subparagraph {
			margin-top: 10px;
		}
		&-body {
			color: #a5a5a5;
			+ .legal-paragraph-body {
				margin-top: 10px;
			}
			a {
				color: #39923c;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&-list {
			margin-top: 20px;
			margin-left: 20px;
			&-item {
				margin-bottom: 10px;
				color: #a5a5a5;
				strong {
					color: #ffffff;
				}
				&-text {
					color: #a5a5a5;
					strong {
						color: #ffffff;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 786px) {
    #legal {
        width: 90vw;
    }
}