body {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body::-webkit-scrollbar {
  display: none;
}

#ree-overlay {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgb(255, 0, 0);
  transition: opacity 1.5s;
  pointer-events: none;
}

#ree-overlay.reeing {
  opacity: 0.4;
}

.content, html {
  background: #2C2F33;
}

.psuedoBody {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}
.content {
  font-family: 'Lato';
  padding: 10px;
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.blurple {
  color: #7289DA;
}
