#blog {
	width: 50vw;
	min-height: calc(100vh - 70px);
	margin: 5vh auto;
	&-header {
		margin-top: 5vh;
		text-align: center;
		&-title {
			font-size: 50px;
		}
		&-information {
			color: #a5a5a5;
		}
	}
	&-image {
		margin-top: 50px;
		img {
			margin: 0 auto;
			display: block;
			max-width: 50%;
		}
	}
	&-content {
		margin-top: 50px;
		p {
			margin-top: 10px;
			color: #dddddd;
			a {
				color: #39923c;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		ul, ol {
			margin-left: 20px;
			a {
				color: #39923c;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		h3, h2 {
			margin-top: 30px;
			font-size: 25px;
		}
		h4 {
			margin-top: 30px;
		}
		img {
			width: 50%;
			margin: 20px auto;
			display: block;
		}
	}
}

@media only screen and (max-width: 1200px) {
	#blog {
		width: 80vw;
		&-header {
			width: 80vw;
		}
		.blogs-section {
			width: 90vw!important;
			#blogs-section-recent { 
				.blog-recent {
					height: 50vh;
				}
			}
		}
	}
} 

