.expandable {
    width: 100%;
    background: #050b06;
    padding: 15px 40px;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1), 0px 10px 10px rgba(0,0,0,0.02);
    box-sizing: border-box;
    overflow: visible;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &-text {
        width: 95%;
        &-title {
            font-size: 18px;
            &-star {
                margin-left: 5px;
            }
        }
        &-message {
            font-size: 14px;
            color: #a5a5a5;
            &:not(.expandable.expanded > .expandable-text > .expandable-text-message) {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    &-action {
        display: none;
        background: #39923c;
        padding: 10px 15px;
        border-radius: 5px;
        transition: box-shadow ease-in-out .2s;
        &-text {
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                margin-left: 3px;
                font-size: 12px;
            }
        }
        &:hover {
            box-shadow: 0px 0px 10px rgba(57, 146, 60, 0.2),
                        0px 10px 10px rgba(57, 146, 60, 0.1),
                        0px 0px 35px rgb(57, 146, 60, 0.05);
        }
    }
    &-body {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        border-top: 2px solid #141414;
        &-section {
            &-content {
                color: #a5a5a5;
            }
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
    &.closing {
        .expandable-body {
            animation: retract .3s 1 forwards;
        }
    }
    &.expanded {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1),
                    0px 10px 10px rgba(0,0,0,0.02),
                    0px 0px 35px rgb(57, 146, 60, 0.06);
        border: 1px solid #39923c;
        transition: border-color ease-in-out .2s,
                    box-shadow ease-in-out .2s;
        .expandable-body {
            animation: expand .3s 1 both;
        }
        .expandable-action {
            display: block;
        }
    }
    &:hover {
        cursor: pointer;
    }
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
        margin-top: 0px;
        padding-top: 0px;
    }
    to {
        opacity: 1;
        margin-top: 20px;
        padding-top: 20px;
        max-height: 100%;
    }
}

@keyframes retract {
    to {
        max-height: 0;
        opacity: 0;
        margin-top: 0px;
        padding-top: 0px;
    }
    from {
        opacity: 1;
        margin-top: 20px;
        padding-top: 20px;
        max-height: max-content;
    }
}

@media only screen and (max-width: 790px) {
    .expandable {
        padding: 15px 20px;
        height: 100%;
    }
}