footer {
	background: #050b06;
	height: 200px;
	width: 100vw;
	display: grid;
	place-items: center;
	#footer-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: 'Montserrat', sans-serif;
		color: white;
		height: 100%;
		width: 95%;
		max-width: 1335px;
		padding: 0 6%;
		box-sizing: border-box;
	}
	#footer-left {
		display: flex;
		align-items: center;
		#footer-logo {
			width: 100px;
			margin-right: 20px;
		}
		#footer-title {
			margin: 0;
			font-weight: 700;
		}
		#footer-copyright {
			color: #cecece;
			font-weight: 500;
		}
	}
	#footer-links {
		.footer-links-col {
			display: inline-block;
			vertical-align: middle;
			&:not(:last-child) {
				margin-right: 60px;
			}
			.footer-link {
				display: block;
				margin-bottom: 5px;
				color: #b5b5b5;
				transition: color ease-in-out .1s;
				font-weight: 500;
				&:hover {
					color: #ffffff;
				}
			}
		}	
	}
}

@media only screen and (max-width: 920px) {
	footer {
		#footer-content {
			padding: 20px 0px;
			display: grid;
			justify-content: space-evenly;
			align-content: center;
			#footer-left {
				margin-bottom: 20px;
				display: flex;
				justify-content: center;
				#footer-logo {
					width: 50px;
				}
			}
			#footer-links {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				box-sizing: border-box;
				padding: 0 10px;
			}
		}
	}
}

@media only screen and (max-width: 385px) {
	footer {
		#footer-content {
			padding: 20px 0px;
			display: grid;
			justify-content: space-evenly;
			align-content: center;
			#footer-left {
				margin-bottom: 20px;
				display: flex;
				justify-content: center;
				#footer-logo {
					width: 50px;
				}
			}
			#footer-links {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				box-sizing: border-box;
				padding: 0 10px;
				& > * {
					font-size: 14px;
					margin-right: unset!important;
				}
			}
		}
	}
}