.backdrop {
	background: rgba(0, 0, 0, 0.55);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999999999;
	.modal {
		position: relative;
		height: 100%;

		.modal-child {
			background: #292929;
			position: absolute;
			width: 80%;
			max-width: 985px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 1em;
			color: white !important;
			border-radius: 5px;
			max-height: 80%;
			overflow-y: auto;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}