@import url( 'https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #announcement {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        background: linear-gradient(to right, #20be50, #16c458);
        display: flex;
        justify-content: center;
        align-items: center;
        &-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-size: 15px;
            overflow: hidden;
            white-space: nowrap;
            width: calc(100% - 80px);
            .announcement-bold {
                font-weight: 600;
            }
            .announcement-link {
                color: #ffffff;
                text-decoration: underline;
            }
        }
        &-action {
            position: absolute;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            .material-icons {
                font-size: 18px;
                opacity: 0.7;
                transition: opacity ease-in-out 0.2s;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    #mobile {
        width: 100%;
        height: 75px;
        background: #121b13;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0 20px;
        &-left {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                margin-right: 15px;
            }
            h2 {
                font-weight: 600;
            }
        }
        &-hamburger {
            user-select: none;
        }
        &-content {
            position: absolute;
            z-index: 99;
            top: 105px;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: #121b13;
            box-sizing: border-box;
            ul {
                .mobile-nav-link {
                    list-style: none;
                    width: 100vw;
                    display: block;
                    border-bottom: 1px solid rgba(0,0,0,0.5);
                    &.discount {
                        a {
                            color: #ffcb00!important;
                            animation: discountFlash 2s infinite both;    
                        }
                        #discount-countdown {
                            background: #ffcb00;
                            font-size: 12px;
                            padding: 3px 5px;
                            font-weight: 600;
                            color: #000000;
                            border-radius: 2px;
                            margin-left: 10px;
                        }
                        & > * > * {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                    a {
                        padding: 20px;
                        width: 100%;
                        font-size: 20px;
                        display: block;
                        color: #ffffff;
                        &.active {
                            color: #9ad4b2;
                            background: rgba(255,255,255,0.05);
                        }
                    }
                    &.red a {
                        color: #ff6767;
                    }
                }
            }
        }
    }
    #desktop {
        width: 95%;
        max-width: 1335px;
        margin-top: 25px;
        height: 75px;
        background: #121b13;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0 20px;
        &-left {
            display: flex;
            justify-content: center;
            align-items: center;
            &-links {
                margin-left: 20px;
                .desktop-nav-link {
                    list-style: none;
                    display: inline-block;
                    &.discount {
                        a {
                            color: #ffcb00!important;
                            animation: discountFlash 2s infinite both;    
                        }
                        #discount-countdown {
                            background: #ffcb00;
                            font-size: 12px;
                            padding: 3px 5px;
                            font-weight: 600;
                            color: #000000;
                            border-radius: 2px;
                            margin-left: 10px;
                        }
                        & > * {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                    a {
                        font-size: 18px;
                        color: #ffffff;
                        &:hover {
                            color: #65ce8f;
                        }
                    }
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }
            }
        }
        &-right {
            display: flex;
            justify-content: center;
            align-items: center;
            .desktop-nav-link {
                list-style: none;
                font-size: 18px;
                color: #ffffff;
                &:not(:last-child) {
                    margin-right: 10px;
                    padding-right: 10px;
                    border-right: 1px solid rgb(48, 68, 48);
                }
                &.highlight {
                    color: #339a5d;
                }
            }
            #user-account {
				position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(255,255,255,0.05);
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                user-select: none;
                img {
                    border-radius: 50%;
                    margin-right: 10px;
                }
                &-avatar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 32px;
                    height: 32px;
                    background: rgba(0,0,0,0.4);
                }
                &-name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .material-icons {
                        min-width: 24px;
                        max-width: 24px;
                        margin-left: 5px;
                    }
                }
                &-dropdown {
                    position: absolute;
					top: 70px;
					right: -20px;
                    height: max-content;
					width: 175px;
                    background: #121b13;
                    border-radius: 5px;
					z-index: 9999;
					&-content {
						.dropdown-item {
							list-style: none;
							width: 100%;
							transition: background-color ease-in-out .1s;
							.dropdown-link {
								display: block;
								padding: 7px 20px;
								width: 100%;
								box-sizing: border-box;
								color: #ffffff;
								&.red {
									color: #ff6767;
								}
							}
							&:hover {
								background: rgba(0,0,0,0.2)
							}
						}
					}
                }
            }
        }
    }
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-mobile {
        display: none;
        width: 100vw;
        flex-wrap: wrap;
        background: #292929;
        &-head {
            background: #292929;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 9999;
            padding-top: 10px;
            &-text {
                text-transform: uppercase;
                color: #39923c;
                font-size: 30px;
                padding-top: 20px;
                padding-left: 10vw;
                text-shadow: 5px 10px 10px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.02);
            }
            &-hamburger {
                padding-top: 20px;
                margin-right: 10vw;
            }
        }
        &-container {
            position: absolute;
            flex-basis: 100%;
            width: 100%;
            height: 100vh;
            top: -110vh;
            z-index: 999;
            transition: top ease-in-out 0.7s;
            background: #292929;
            justify-content: space-evenly;
            &.visible {
                top: 50px;
            }
            #navbar-mobile-links {
                display: flex;
                position: absolute;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
                height: 80%;
                width: 100%;
                &.move-down {
                    bottom: 25px;
                }
                .navbar-mobile-link {
                    width: 100%;
                    font-size: 20px;
                    text-align: center;
                    padding: 30px 0;
                    color: #ffffff;
                    &.logout {
                        color: #ff5f5f;
                    }
                    &.discount {
                        color: #ffcb00!important;
                        animation: discountFlash 2s infinite both;
                    }
                    &.active {
                        background: rgba(0,0,0,0.3);
                        color: unset;
                    }
                }
            }
            #navbar-mobile-account {
                padding: 20px 0;
                background: rgba(0,0,0,0.3);
                width: 100%;
                text-align: center;
                margin-top: 10%;
                & > * {
                    display: inline-block;
                    vertical-align: middle;
                }
                &-picture {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: 20px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                &-details {
                    &-discriminator {
                        font-size: 12px;
                        color: #a3a3a3;
                        text-align: left;
                    }
                }
            }
        }
    }
    &-links {
        padding-top: 20px;
        .navbar-link {
            display: inline-block;
            list-style-type: none;
            &.discount {
                a,
                a.active,
                a:hover {
                    color: #ffcb00!important;
                    animation: discountFlash 2s infinite both;
                }
            }
            a {
                font-size: 20px;
                color: #ffffff;
                &.active {
                    position: relative;
                    color: #39923c;
                }
                &:hover {
                    &:not(.active) {
                        color: #c8e7c9;
                    }
                }
            }
            &:not(:last-child) {
                margin-right: 20px;
            }
            #navbar-account {
                position: relative;
                &-name {
                    font-size: 20px;
                    color: #ffffff;
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 3px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                &-chevron {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 5px;
                    svg {
                        transition: transform cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.2s;
                    }
                    &.active {
                        svg {
                            transform: rotate(180deg);
                        }
                    }
                }
                &-dropdown {
                    display: none;
                    position: absolute;
                    top: 30px;
                    right: 0;
                    background: #1a1a1a;
                    max-width: max-content;
                    min-width: 100px;
                    padding: 10px;
                    border-radius: 5px;
                    z-index: 99999;
                    &.active {
                        display: flex;
                        flex-wrap: wrap;
                        animation: dropdownOpen 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
                    }
                    &-account {
                        white-space: nowrap;
                        &-picture {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            margin-right: 10px;
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        &-details {
                            display: inline-block;
                            vertical-align: middle;
                            &-username {
                                font-size: 16px;
                            }
                            &-discriminator {
                                font-size: 12px;
                                color: #a3a3a3;
                            }
                        }
                    }
                    &-actions {
                        margin-top: 10px;
                        display: block;
                        & > * {
                            font-size: 15px;
                            cursor: pointer;
                            display: block;
                            span {
                                margin-right: 5px;
                            }
                        }
                        &-logout {
                            margin-top: 5px;
                            transition: color ease-in-out 0.1s;
                            &:hover {
                                color: #ff5f5f;
                            }
                        }
                    }
                }
            }
        }
    }
}
@keyframes slideNav {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes dropdownOpen {
    0% {
        transform: rotateX(-100deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}
@keyframes discountFlash {
    0% {
        text-shadow: 0 0 5px #ffcb0050;
    }
    50% {
        text-shadow: 0 0 7px #ffcc0091;
    }
    100% {
        text-shadow: 0 0 5px #ffcb0050;
    }
}