@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#navbar {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&-mobile {
		display: none;
		width: 100vw;
		flex-wrap: wrap;
		background:#292929;
		&-head {
			background:#292929;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			z-index: 9999;
			&-text {
				text-transform: uppercase;
				color: #39923c;
				font-size: 30px;
				padding-top: 20px;
				padding-left: 10vw;
				text-shadow: 5px 10px 10px rgba(0,0,0,0.1), 0px 10px 10px rgba(0,0,0,0.02);
			}
			&-hamburger {
				padding-top: 20px;
				padding-right: 10vw;
			}
		}
		&-container {
			position: absolute;
			flex-basis: 100%;
			width: 100%;
			height: 100vh;
			top: -110vh;
			z-index: 999;
			transition: top ease-in-out .7s;
			background: #292929;
			justify-content: space-evenly;
			&.visible {
				top: 0;
			}
			#navbar-mobile-links {
				display: flex;
				position: absolute;
				justify-content: space-evenly;
				flex-direction: column;
				align-items: center;
				height: 80%;
				width: 100%;
				&.move-down {
					bottom: -15px;
				}
				.navbar-mobile-link {
					width: 100%;
					font-size: 20px;
					text-align: center;
					padding: 30px 0;
					color: #ffffff;
					&.logout {
						color: #ff5f5f;
					}
					&:active {
						background: rgba(0,0,0,0.3);
						color: unset;
					}
				}
			}
			#navbar-mobile-account {
				padding: 20px 0;
				background: rgba(0,0,0,0.3);
				width: 100%;
				text-align: center;
				margin-top: 15%;
				& > * {
					display: inline-block;
					vertical-align: middle;
				}
				&-picture {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					margin-right: 20px;
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
				}
				&-details {
					&-discriminator {
						font-size: 12px;
						color: #a3a3a3;
						text-align: left;
					}
				}
			}
		}
	}
	&-links {
		padding-top: 20px;
		.navbar-link {
			display: inline-block;
			list-style-type: none;
			a {
				font-size: 20px;
				color: #ffffff;
				&.active {
					position: relative;
					color: #39923c;
				}
				&:hover {
					&:not(.active) {
						color: #c8e7c9;
					}
				}
			}
			&:not(:last-child) {
				margin-right: 20px;
			}
			#navbar-account {
				position: relative;
				&-name {
					font-size: 20px;
					color: #ffffff;
					display: inline-block;
					vertical-align: middle;
					margin-bottom: 3px;
					&:hover {
						cursor: pointer;
					}
				}
				&-chevron {
					display: inline-block;
					vertical-align: middle;
					margin-left: 5px;
					svg {
						transition: transform cubic-bezier(0.455, 0.030, 0.515, 0.955) .2s;
					}
					&.active {
						svg {
							transform: rotate(180deg);
						}
					}
				}
				&-dropdown {
					display: none;
					position: absolute;
					top: 30px;
					right: 0;
					background: #1a1a1a;
					min-width: 100px;
					// max-width: 400px;
					padding: 10px;
					border-radius: 5px;
					&.active {
						display: flex;
						flex-wrap: wrap;
						animation: dropdownOpen 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
					}
					&-account {
						white-space: nowrap;
						&-picture {
							width: 35px;
							height: 35px;
							border-radius: 50%;
							margin-right: 10px;
							background-position: center;
							background-size: contain;
							background-repeat: no-repeat;
							display: inline-block;
							vertical-align: middle;
						}
						&-details {
							display: inline-block;
							vertical-align: middle;
							&-username {
								font-size: 16px;
							}
							&-discriminator {
								font-size: 12px;
								color: #a3a3a3;
							}
						}
					}
					&-actions {
						margin-top: 10px;
						text-align: center;
						& > * {
							font-size: 15px;
							cursor: pointer;						
							& > * {
								display: inline-block;
								vertical-align: middle;
							}
							span {
								margin-right: 5px;
							}
						}
						&-logout {
							transition: color ease-in-out .1s;
							&:hover {
								color: #ff5f5f;
							}
						}
					}
				}	
			}		
		}
	}
}

@keyframes slideNav {
	from {
		transform: translateY(-100vh);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes dropdownOpen {
	0% {
		transform: rotateX(-100deg);
		opacity: 0;
	}
	100% {
		transform: rotateX(0deg);
		opacity: 1;
	}  
}

@media only screen and (max-width: 550px) {
	#navbar {
		&-mobile {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-links {
			display: none;
		}
	}
}