@keyframes scroll {
  from {}
  to { transform: translateY(-100%); }
}

.staff-card {
	position: relative;
	text-align: center;
	width: 250px;
	height: 315px;
	background:#050b06;
    border-radius: 4px;
    padding: 12px 15px;
    margin: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .82),
      			0 1px 4px rgba(0, 0, 0, .1);
	&-details {
		&-picture {
			width: 110px;
			height: 110px;
			object-fit: cover;
			border-radius: 50%;
		}
		&-name {
			margin: 10px 0;
			font-size: 18px;
			color: #39923c;
		}
		&-about-container {
			max-height: 100px;
			overflow: hidden;
			white-space: pre-wrap;
			margin-bottom: 10px;
			.staff-card-details-about.scroll {
				transform: translateY(2em);
				animation: scroll 25s infinite linear 1s;
				display: block;
			}
		}
	}
	&-socials {
		position: absolute;
		bottom: 12px;
		text-align: center;
		width: 250px;
		&-account {
			height: 25px;
			width: 25px;
			margin: 5px;
	
			&:hover {
			  	transform: scale(1.05);
			}
	
			&:active {
			  	transform: scale(.95);
			}
		}
	}
}

@media only screen and (max-width: 786px) {
  .staff-card {
    width: 90%;
  }
}

