#store {
	width: 70vw;
	margin: 10vh auto;
	position: relative;
	& > * {
		display: inline-block;
		vertical-align: top;
	}
	&-prompt {
		display: grid;
		justify-content: center;
		align-items: center;
		min-height: calc(70vh + 50px);
		&-content {
			background: #1e1e1e;
			width: calc(485px - 120px);
			padding: 60px 50px;
			&-title {
				font-size: 60px;
				font-family: 'Montserrat', sans-serif;
				margin-bottom: 20px;
			}
			&-body {
				.store-prompt-content-message {
					font-size: 16px;
					margin-bottom: 5px;
					a {
						color: #39923c;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			&-button {
				background: #39923c;
				color: #ffffff;
				margin-top: 10px;
				padding: 10px 15px;
				border-radius: 5px;
				display: block;
				width: max-content;
				transition: box-shadow ease-in-out .3s;
				&:hover {
					box-shadow: 0px 5px 20px rgba(57, 146, 60, 0.7),
								inset 0px 0px 5px rgba(4, 214, 9, 0.3);
				}
			}
		}
	}
	&-header {
		margin-bottom: 5vh;
		&-title {
			font-size: 60px;
		}
		&-message {
			color: #a5a5a5;
			font-size: 18px;
			width: 945px;
		}
	}
	&-boxes {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10vh;
		.store-box {
			display:flex;
			flex-direction: column;
			justify-content: center;
			position: relative;
			text-align: center;
			background: #1e1e1e;
			border: 1px solid transparent;
			width: 17vw;
			min-width: 265px;
			min-height: 150px;
			transition: border-color ease-in-out .3s,
						box-shadow ease-in-out .3s;
			cursor: pointer;
			& > * {
				user-select: none;
			}
			&:not(:last-child) {
				margin-right: 5vw;
			}
			#peepos {
				position: absolute;
				top: 0;
				left: 0;
				width: calc(337px - 120px);
				height: calc(192px - 160px);
				pointer-events: none;
				.peepo {
					animation: peek 1s forwards;
					position: absolute;
					width: 60px;
					height: 60px;
					left: 160px;
					top: 50%;
					z-index: 2;
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
			&-name {
				font-size: 30px;
				text-transform: uppercase;
			}
			&-price {
				color: #39923c;
				font-family: 'Montserrat', sans-serif;
				font-size: 25px;
				font-weight: 600;
			}
			#store-box-counter {
				position: absolute;
				width: 100%;
				bottom: 10px;
				& > * {
					display: inline-block;
					vertical-align: middle;
					box-sizing: border-box;
					max-width: max-content;
					padding: 5px;
					&:not(#store-box-counter-num) {
						background: rgba(0,0,0,0.3);
					}
				}
				&-num {
					background: rgba(0,0,0,0.2);
					width: 50px;
					color: #ffffff;
					border: none;
					text-align: center;
					font-size: 16px;
					font-family: 'Inter', sans-serif;
					-moz-appearance: textfield;
					&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
				}
			}
			&.active {
				&:nth-child(1) {
					border: 1px solid #7a7a7a;
					box-shadow: 0px 0px 35px rgba(128, 128, 128, 0.5),
								inset 0px 0px 20px rgba(201, 201, 201, 0.15);	
				}
				&:nth-child(2) {
					border: 1px solid #39923c;
					box-shadow: 0px 0px 35px rgba(57, 146, 60, 0.5),
								inset 0px 0px 20px rgba(4, 214, 9, 0.15);
				}
				&:nth-child(3) {
					border: 1px solid #e9dc25;
					box-shadow: 0px 0px 35px rgba(146, 137, 57, 0.5),
								inset 0px 0px 20px rgba(214, 210, 4, 0.15);	
				}
			}
		}
	}
	&-details {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		#store-items {
			&-title {
				font-size: 25px;
				width: max-content;
			}
			&-message {
				width: 80%;
				color: #a5a5a5;
			}
			table {
				margin-top: 30px;
				border: 1px solid #1f1f1f;
				border-collapse: collapse;
				width: 16vw;
				thead {
					text-align: left;
					background: #222222;
					th {
						padding: 10px 20px;
						font-family: 'Inter', sans-serif;
						font-weight: 500;
						font-size: 14px;
						&:last-child {
							width: 50%;
							text-align: center;
						}
					}
				}
				tbody {
					tr {
						td {
							padding: 5px 20px;
							&:nth-child(2n) {
								border-left: 1px solid #1f1f1f;
								text-align: center;
							}
						}
						&:nth-child(2n) {
							background: #252525;
						}
					}
				}
			}
		}
		#store-summary {
			max-width: 30vw;
			min-width: 470px;
			border-left: 3px solid #1a1a1a;
			padding-left: 5vw;
			height: 610px;
			position: relative;
			&-message {
				color: #a5a5a5;
			}
			table {
				border-collapse: collapse;
				margin-top: 20px;
				width: 100%;
				height: 40%;
				tr {
					td {
						&:nth-child(2n) {
							width: 150px;
							text-align: right;
						}
						&#store-summary-total {
							font-family: 'Montserrat', sans-serif;
							font-size: 18px;
							font-weight: 700;
						}
					}
					&:nth-child(2) {
						vertical-align: top;
					}
					&:nth-child(3) {
						vertical-align: bottom;
					}
					&:first-child, &:nth-child(2), &:last-child {
						height: 50px;
						&:last-child {
							border-top: 2px solid #1a1a1a;
						}
					}
				}
			}
			&-inputs {
				.store-summary-input {
					margin-top: 10px;
					position: relative;
					input[type=checkbox] {
						display: inline-block;
						vertical-align: middle;
						appearance: none;
						margin-right: 10px;
						background-color: #1a1a1a;
						height: 20px;
						width: 20px;
						border-radius: 3px;
						cursor: pointer;
						&:checked {
							background-color: #39923c;
							& + .store-summary-input-tick {
								display: block;
							}
						}
					}
					input[type=number] {
						background: #1a1a1a;
						height: 20px;
						width: 165px;
						padding: 5px;
						margin-right: 10px;
						color: #ffffff;
						border: none;
						font-size: 14px;
						font-family: 'Inter', sans-serif;
						-moz-appearance: textfield;
						&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
							-webkit-appearance: none;
							margin: 0;
						}
					}
					&-tick {
						pointer-events: none;
						display: none;
						position: absolute;
						top: 3px;
						left: 2px;
					}
					label {
						display: inline-block;
						vertical-align: middle;
						font-size: 15px;
						a {
							color: #39923c;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}	
				#checkout-error {
					margin-top: 5px;
					&-notice {
						color: rgb(255, 68, 68);
					}
					&-help {
						a {
							color: #39923c;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}	
			}
			&-actions {
				text-align: center;
				position: absolute;
				bottom: 0;
				// width: 100%;
				width: 30vw;
				min-width: 470px;
				box-sizing: border-box;
				&-message {
					margin-top: 5px;
					color: #a5a5a5;
					font-size: 14px;
				}
			}
		}
	}
}

@keyframes peek {
	0% {}
	90% {
		opacity: 0.8;
	}
	100% {
		transform:
		translate(
			var(--delta-x),
			var(--delta-y)
		)
		rotate(var(--direction));
		opacity: 0;
	}
}

@media only screen and (max-width: 1400px) {
	#store {
		width: 90vw;
	}
}

@media only screen and (max-width: 1300px) {
	#store {
		&-header {
			&-message {
				width: 100%!important;
			}
		}
		&-boxes {
			.store-box {
				&-name {
					font-size: 25px;
				}
			}
		}
		&-summary {
			padding-left: 3vw;
		}
	}
}

@media only screen and (max-width: 1040px) {
	#store {
		&-summary {
			width: 400px!important;
			&-inputs {
				label {
					font-size: 15px!important;
				}
			}
		}
	}
}

@media only screen and (max-width: 1000px) {
	#store {
		&-boxes {
			flex-direction: column;
			.store-box {
				margin-right: 0!important;
				&:not(:last-child) {
					margin-bottom: 5vh;
				}
			}
		}
		&-details {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			& > * {
				margin: 0 auto;
			}
			#store-items {
				display: grid;
				place-items: center;
			}
			#store-summary {
				border: none;
				padding: 0;
				margin-top: 10vh;
				min-width: 100%!important;
				display: grid;
				place-items: center;
				&-message {
					width: 80%;
				}
				table {
					margin-bottom: 80px;
				}
				&-inputs {
					margin-bottom: 40px;
				}
				&-actions {
					display: block;
					position: unset!important;
					min-width: 80vw!important;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	#store {
		&-details {
			#store-summary {
				&-inputs {
					.store-summary-input {
						&:nth-child(1) {
							label {
								vertical-align: top!important;
							}
						}
						label {
							width: 90%;
						}
					}
				}
			}
		}
	}
}