.developer-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Lato';
}

.developer-title {
  font-family: 'Montserrat';
  text-transform: uppercase;
  text-align: center;
}

