.developer {
  background:#23272A;
  border-radius: 4px;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 12px 14px;
  margin: 15px;
}

.developer-name {
  text-align: center;
  margin-bottom: 10px;
}

.developer-social {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;
  text-align: center;
}

.developer-accounts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.developer-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.developer-name {
  font-weight: bold;
}

.developer-accounts {
  display: flex;
  flex-wrap: wrap;
}

.developer-account {
  height: 25px;
  width: 25px;
  margin: 5px;
}

.developer-account:hover {
  transform: scale(1.05);
}

.developer-account:active {
  transform: scale(.95);
}
@media only screen and (max-width: 786px) {
  .developer {
    width: 90%;
  }
}