.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.home-slogan {
  font-size: 3em;
  font-family: 'Montserrat';
  font-weight: bold;
}