.button {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Lato";
  border-radius: 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.button:hover {
  border-color: #99AAB5;
  background-color: white;
  color: #7289DA;
}

.button:active {
  transform: scale(0.95);
}