#reports {
	width: 35vw;
	margin: 0 auto;
	min-height: calc(100vh - 40px);
	&-header {
		margin-top: 3vh;
		background: #1a1a1a;
		padding: 20px 30px;
		text-align: center;
		&-title {
			font-size: 40px;
		}
		.reports-header-message {
			color: #a5a5a5;
			font-size: 16px;
		}
	}
	&-body {
		border-top: 5px solid #292929;
		background: #1a1a1a;
		padding: 20px 30px;
		margin-bottom: 5vh;
		min-height: 650px;
		.reports-body-group {
			margin-top: 20px;
			&-title {
				font-size: 22px;
				font-weight: 600;
				margin-bottom: 5px;
			}
			table {
				width: 100%;
				border-collapse: separate;
				border-spacing: 0 5px;
				tr {
					td:nth-child(1) {
						position: relative;
						vertical-align: top;
						width: 30px;
					}
					margin-bottom: 10px;
				}
			}
			&-radio, &-checkbox, &-text {
				input {
					margin-right: 10px;
				}
				label {
					color: #a5a5a5;
					display: inline-block;
					vertical-align: middle;
				}
				.fake-checkbox {
					cursor: pointer;
					display: inline-block;
					vertical-align: middle;
				}
			}
			&-text {
				margin-top: 5px;
				input {
					border: 1px solid #1a1a1a;
					background: rgba(0,0,0,0.6);
					height: 16px;
					width: 165px;
					padding: 5px;
					margin-right: 10px;
					color: #ffffff;
					border: none;
					font-size: 14px;
					font-family: 'Inter', sans-serif;
					&:focus {
						border: 1px solid #39923c;
						outline: none;
					}
				}
			}
			&-radio {
				input[type=radio] {
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
				}
				&-button {
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background: rgba(0,0,0,0.6);
					&.active {
						position: relative;
						background: #39923c;
						&:after {
							content: '';
							display: block;
							position: absolute;
							top: 4px;
							left: 4px;
							width: 7px;
							height: 7px;
							border-radius: 50%;
							background: #1a1a1a;
						}
					}
				}
				label {
					display: inline-block;
					vertical-align: middle;
				}
			}
			&-checkbox {
				position: relative;
				margin-bottom: 5px;
				input[type=checkbox] {
					display: inline-block;
					vertical-align: middle;
					appearance: none;
					margin-right: 10px;
					background-color: rgba(0,0,0,0.6);
					height: 20px;
					width: 20px;
					border-radius: 3px;
					cursor: pointer;
					&:focus {
						outline: none;
					}
					&:checked {
						background-color: #39923c;
						& + .store-summary-input-tick {
							display: block;
						}
					}
				}
				label {
					display: inline-block;
					vertical-align: middle;
				}
				&-num {
					width: 20px;
					height: 20px;
					position: absolute;
					top: 3px;
					pointer-events: none;
					font-size: 13px;
					text-align: center;
				}
			}
			&-textarea {
				min-width: 100%; max-width: 100%;
				min-height: 160px; max-height: 160px;
				background: rgba(0,0,0,0.6);
				border: none;
				resize: none;
				color: #ffffff;
				padding: 10px 15px;
				font-family: 'Inter', sans-serif;
				font-size: 14px;
				box-sizing: border-box;
				&:focus {
					border: 1px solid #39923c;
					outline: none;
				}
			}
		}
		&-actions {
			display: flex;
			justify-content: center;
			align-items: center;
			&-submit {
				user-select: none;
				cursor: pointer;
				background: #39923c;
				color: #ffffff;
				margin-top: 10px;
				padding: 10px 15px;
				border-radius: 5px;
				display: block;
				width: max-content;
				transition: box-shadow ease-in-out .3s;
				&:hover {
					box-shadow: 0px 5px 20px rgba(57, 146, 60, 0.7),
								inset 0px 0px 5px rgba(4, 214, 9, 0.3);
				}
			}
		}
	}
}

@media only screen and (max-width: 1880px) {
	#reports {
		&-body {
			.reports-body-group {
				&-checkbox {
					label {
						width: 90%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1550px) {
	#reports {
		width: 40vw;
		&-body {
			.reports-body-group {
				&-checkbox {
					label {
						width: 90%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1300px) {
	#reports {
		width: 50vw;
		&-body {
			.reports-body-group {
				&-checkbox {
					label {
						width: 90%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1000px) {
	#reports {
		width: 60vw;
		&-body {
			.reports-body-group {
				&-checkbox {
					label {
						width: 90%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 999px) {
	#reports {
		width: 90vw;
		&-body {
			.reports-body-group {
				&-checkbox {
					label {
						width: 90%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	#reports {
		width: 95vw;
		&-body {
			.reports-body-group {
				&-checkbox {
					label {
						width: 90%;
					}
				}
				&-text {
					input {
						width: 30%;
					}
				}
			}
		}
	}
}