#rules {
	width: 50vw;
	margin: 0 auto;
	&-title {
		font-size: 50px;
		margin-top: 5vh;
	}
	&-warning {
		font-size: 18px;
		color: #a5a5a5;
	}
	&-container {
		margin-top: 3vh;
		margin-bottom: 10vh;
		.rules-container-item {
			background: #1a1a1a;
			padding: 20px 30px;
			margin-bottom: 30px;
			&-title {
				font-size: 20px;
			}
			&-subtitle {
				font-size: 17px;
				margin-bottom: 5px;
			}
			&-body {
				color: #a5a5a5;
				a {
					color: #39923c;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1260px) {
	#rules {
		width: 70vw;
	}
}

@media only screen and (max-width: 515px) {
	#rules {
		width: 90vw;
	}
}