@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.content {
  padding: 0;
}

.header {
  font-size: 3em;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  padding: 0.5em;
  color: white;
  background: #23272A;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18vh;
  margin-bottom: 18vh;

  .action-text {
    font-size: 2em;
    margin: 0.5rem 2rem 2rem;
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: bold;
  }

  .links {
    display: flex;
    flex-direction: row;
  }

}

.blogs {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  text-decoration: none;
  color: #fff;
  margin: 2% 8%;
}

.blog {
  background: #23272A;
  margin: 10px 10px;
  padding: 15px;
  width: 38vh;
  height: 10vh;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF;
}

.blog:hover {
  background: #1F2326;
}

.blog-name {
  font-size: 2em;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  letter-spacing: -1.5px;
  line-height: 1em;
  padding-bottom: 1px;
}

.blog-desc {
  font-size: 1.1em;
  text-align: center !important;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: #ddd;
}

.blog-date {
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

@keyframes scroll {
  from {}
  to { transform: translateY(-100%); }
}

.eee {
  margin-top: 10%;
}

.title {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row!important;
  align-items: center;
  height: 100%;
  font-family: 'Lato';
  padding-top: 32px;
  padding: 1em;

  a {
    text-decoration: none;
    color: white;
  }

  .click-to-read-tag {
    transition: 0.3s all;
    background: rgb(65, 70, 75);
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.15em 1em;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    color: rgb(212, 212, 212);
    letter-spacing: -0.64px;
    position: absolute;
    top: 24px;
    left: 0;
    z-index: 0;
  }

  .blog-post-container {
    position: relative;
    margin: 16px;

    &:hover {
      .click-to-read-tag {
        transform: translateY(-44px);
        position: absolute;
        z-index: 0;
      }
    }
  }

  .boxy {
    transition: 0.2s all;
    position: relative;
    background: #23272A;
    border-radius: 5px;
    height: 200px;
    max-height: 350px;
    width: 325px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 1.5em;
    box-shadow: 0 0 4px rgba(8, 8, 8, 0.82);

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0 0 12px rgba(8, 8, 8, 0.82);
      background: rgb(22, 24, 26);
      position: relative;
      z-index: 1;

      .click-to-read-tag {
        transform: translateY(-24px);
        position: absolute;
        z-index: -1;
      }
    }

    .about-text {
      max-height: 4.5em;
      overflow: hidden;
      text-align: center;
      white-space: pre-wrap;
    }

    .about {
      transform: translateY(3em);
      animation: scroll 80s infinite linear 1s;
      display: block;
    }

    .name {
      text-align: center;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 786px) {

  .action-text {
    align-content: center!important;
    text-align: center!important;
    margin: 10px!important;
    font-size: 1.5em!important;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    align-content: center!important;
    justify-content: center!important;

    a {
      padding: 8px 4px!important;
    }
  }

  .blog {
    height: auto;
  }
  .blogs {
    margin: 0% 5%;
  }

  .boxy {
    width: 90%;
  }

  .title {
    font-size: 25px;
  }

  .eee {
    margin-top: 0%;
  }
}
