.blog-header {
  font-size: 2.5em;
  font-style: italic;
  margin: 0.5em 25% 4px;
  font-family: 'Lato';
  text-align: left;
}

.blog-header-img {
  text-align: center;
  margin: 5px 0;
}

.blog-header-img img {
  height: 25em;
  border-radius: 3px;
}

.blog-timestamp {
  margin: 0 25%;
  font-size: 1em;
  font-family: 'Lato';
  text-align: left;
}

.blog-content {
  font-family: 'Lato';
  margin: 15px 25%;
  background: #23272A;
  padding: 15px;
  border-radius: 5px;
}

.blog-content p:first-child,
.blog-content h2:first-child {
  margin-top: 0;
}

.blog-content p:last-child {
  margin-bottom: 0;
}

.blog-content a {
  text-decoration: none;
  color: #7289DA;
}

.blog-content img {
  max-width: 100%;
}

@media only screen and (max-width: 786px) {
  .blog-content {
    margin: 15px 3vh;
  }

  .blog-header {
    margin: 0.5em 3vh 0vh;
    text-align: center;
  }

  .blog-timestamp {
    margin: 0 3vh;
    text-align: center;
  }

  .blog-header-img img {
    height: auto;
    margin: 2px 8px;
    width: 95%;
  }
}

