.header {
  text-align: center;
  font-size: 3em;
  font-family: 'Montserrat';
  font-weight: bold;
  margin-top: 5%;
  color: white;
}

.blogs {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  text-decoration: none;
  color: #fff;
  margin: 2% 8%;
}

.blog {
  background: #23272A;
  margin: 10px 10px;
  padding: 15px;
  width: 38vh;
  height: 10vh;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF;
}

.blog:hover {
  background: #1F2326;
}

.blog-name {
  font-size: 2em;
}

.blog-desc {
  font-size: 1.1em;
  text-align: center!important;
}

.blog-date {
  margin-bottom: 22px;
}

@media only screen and (max-width: 786px) {
  .blog {
    height: auto;
  }
  .blogs {
    margin: 0% 5%;
  }
}